.WeatherAdditional{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 100%;
    color:white;
    font-size:15pt;
}
.WeatherAdditionalTemp{
    display: flex;
    justify-content:center;
    align-items:center;

    
}