.Header {
    background-color: #1e201f;
   
    grid-area:1/1/2/2;
    display:grid;
    grid-template-columns:20% 60% 20%;
    grid-template-rows: 100%;
    
}
.Logo{
    justify-content: center;
    color:white;	
    display:flex;	
    align-items:center;
}

.NavMenu{
    justify-content: flex-end ;
    display: flex;
   
    align-items:center;
}

.NavMenu a{
    color:rgb(231, 224, 210);
    margin:10px;
    text-decoration:none;
}

.Second{
    color:red;
}

.LoginBlock{
    color:rgb(231, 224, 210);
    margin:10px;
    text-decoration:none;
}



