.Search {
    /*background-color: #162b9e;*/

    grid-area:1/2/2/3;
    display: flex;
    justify-content:center;
    align-items:center;

}

.Form {
    
    width: 50%;
}

.Speech {
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
}

.SearchInput{
    border-radius: 10px;
}